-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: booking
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `province_images`
--

DROP TABLE IF EXISTS `province_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `province_images` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `province_id` int unsigned NOT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `publicUrl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `province_images_province_id_foreign` (`province_id`),
  CONSTRAINT `province_images_province_id_foreign` FOREIGN KEY (`province_id`) REFERENCES `provinces` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `province_images`
--

LOCK TABLES `province_images` WRITE;
/*!40000 ALTER TABLE `province_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `province_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provinces`
--

DROP TABLE IF EXISTS `provinces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provinces` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `provinces_code_unique` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provinces`
--

LOCK TABLES `provinces` WRITE;
/*!40000 ALTER TABLE `provinces` DISABLE KEYS */;
/*!40000 ALTER TABLE `provinces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_imgs`
--

DROP TABLE IF EXISTS `travel_imgs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_imgs` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `id_travel_spot` int unsigned NOT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `publicUrl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `travel_imgs_id_travel_spot_foreign` (`id_travel_spot`),
  CONSTRAINT `travel_imgs_id_travel_spot_foreign` FOREIGN KEY (`id_travel_spot`) REFERENCES `travel_spots` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_imgs`
--

LOCK TABLES `travel_imgs` WRITE;
/*!40000 ALTER TABLE `travel_imgs` DISABLE KEYS */;
INSERT INTO `travel_imgs` VALUES (1,1,'/uploads/travel-spots/rung-tram-tra-su-an-giang/travel_spot_68f3b59976e973.44179453_download__2_.jpg','download (2).jpg','2025-10-18 15:43:21','2025-10-18 15:43:21'),(2,1,'/uploads/travel-spots/rung-tram-tra-su-an-giang/travel_spot_68f3b599874de2.89197200_download.jpg','download.jpg','2025-10-18 15:43:21','2025-10-18 15:43:21'),(3,1,'/uploads/travel-spots/rung-tram-tra-su-an-giang/travel_spot_68f3b599960165.44575558_download__1_.jpg','download (1).jpg','2025-10-18 15:43:21','2025-10-18 15:43:21');
/*!40000 ALTER TABLE `travel_imgs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_spots`
--

DROP TABLE IF EXISTS `travel_spots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_spots` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `province_id` int unsigned NOT NULL,
  `open_time` time DEFAULT NULL,
  `close_time` time DEFAULT NULL,
  `average_rate` decimal(3,2) NOT NULL DEFAULT '0.00',
  `price_from` decimal(10,2) DEFAULT NULL,
  `price_to` decimal(10,2) DEFAULT NULL,
  `total_rates` int unsigned NOT NULL DEFAULT '0',
  `full_address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `travel_spots_province_id_foreign` (`province_id`),
  CONSTRAINT `travel_spots_province_id_foreign` FOREIGN KEY (`province_id`) REFERENCES `provinces` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_spots`
--

LOCK TABLES `travel_spots` WRITE;
/*!40000 ALTER TABLE `travel_spots` DISABLE KEYS */;
INSERT INTO `travel_spots` VALUES (1,'Rß╗½ng Tr├ám Tr├á S╞░ - An Giang','─É╞░ß╗úc xem l├á khu rß╗½ng tr├ám ─æß║╣p nhß║Ñt v├á nß╗òi tiß║┐ng nhß║Ñt Viß╗çt Nam, rß╗½ng tr├ám Tr├á S╞░ mang ─æß║┐n cho du kh├ích mß╗Öt c├íi nh├¼n tuyß╗çt vß╗¥i vß╗ü v├╣ng sinh th├íi ─æß║╖c tr╞░ng cß╗ºa ─æß╗ông bß║▒ng s├┤ng Cß╗¡u Long. Khi m├╣a n╞░ß╗¢c nß╗òi vß╗ü, h├úy ─æß║┐n ─æ├óy ─æß╗â h├▓a m├¼nh v├áo khung cß║únh thi├¬n nhi├¬n tuyß╗çt ─æß║╣p.',1,'07:30:00','16:30:00',0.00,150000.00,170000.00,0,'X├ú V─ân Gi├ío, huyß╗çn Tß╗ïnh Bi├¬n, Tß╗ënh An Giang','2025-10-18 15:43:21','2025-10-18 15:43:21');
/*!40000 ALTER TABLE `travel_spots` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-18 16:06:34
