/* header */
.hover-underline:hover {
    text-decoration: underline !important;
}

.pointer-hover:hover {
    cursor: pointer;

}


/*Nút đăng nhập và đăng ký hiệu ứng shadow text*/

.hover-shadow {
    transition: text-shadow 0.3s ease;
}

.hover-shadow:hover {
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.9),
        -2px -2px 8px rgba(255, 255, 255, 0.9);
}

/*Hiệu ứng cho các dịch vụ nổi bật*/
.pointer-hover-col {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* mượt khi hover */
    cursor: pointer;
    /* default shadow màu đen trong suốt */
    --shadow-color: rgba(0, 0, 0, 0.15);
}

.pointer-hover-col:hover {
    transform: scale(1.05);
    /* scale vừa phải */
    /* đổ shadow theo màu nền */
    box-shadow: 0 8px 20px var(--shadow-color);
}

/*Card địa điểm nổi bật*/
.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Giới hạn 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*Xem chi tiết*/
.btn-view-detail:hover {
    color: var(--bs-primary) !important;
}

/*Xu hướng 2025*/
.rounded-left-custom {
    border-top-left-radius: 1rem;
    /* bo góc trên bên trái */
    border-bottom-left-radius: 1rem;
    /* bo góc dưới bên trái */
}

.travel-card {
    overflow: hidden;
    /* Giữ ảnh không tràn */
}

.travel-img {
    transition: transform 0.4s ease;
    /* Hiệu ứng mượt */
}

.travel-card:hover .travel-img {
    transform: scale(1.1);
    /* Phóng to nhẹ */
}


.food-card {
    overflow: hidden;
    /* Giữ ảnh trong khung */
}

.food-img {
    transition: transform 0.4s ease;
    /* Mượt mà khi hover */
}

.food-card:hover .food-img {
    transform: scale(1.1);
    /* Phóng to nhẹ */
}

.searching-btn-29-10:hover {
    opacity: 0.8 !important;
}

#carouselLimousine .card-img-top {
    height: 180px;
    object-fit: cover;
}

#carouselLimousine .card {
    transition: transform .25s ease;
}

#carouselLimousine .card:hover {
    transform: translateY(-6px);
}


.loading-spinner-travel-spot {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #555;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.8s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}