.user-info::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    transform: translateY(10px);
}

.user-dropdown {
    right: 0;
    bottom: 0;
    transform: translateY(140px);
    background: white;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.25s ease, transform 0.25s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.user-info:hover .user-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(160px);
}