{% extends 'layouts/location.html.twig' %}


{% block title %}Các tỉnh/thành phố{% endblock %}

{% block body %}

<form action="/locations/create-province" method="POST" enctype="multipart/form-data">
    <label>Code: <input type="text" name="code" required></label><br>
    <label>Name: <input type="text" name="name" required></label><br>
    <label>Type: <input type="text" name="type"></label><br>
    <label>Images: <input type="file" name="images[]" multiple></label><br>
    <button type="submit">Create Province</button>
</form>


{% endblock %}