<footer class="bg-black text-white pt-5 mt-5">
    <div class="container">
        <div class="row">
            <!-- About / Company Info -->
            <div class="col-md-3 mb-4">
                <div class="d-flex flex-column mb-3">
                    <h5 class="ms-2">ITA Bookings</h5>
                    <img style="width: 150px; height: 150px;" src="/images/logo.png" alt="ITABookings">
                </div>
                <p>ITA Bookings cung cấp các dịch vụ chất lượng cao với sự tận tâm. Theo dõi chúng tôi để nhận các
                    ưu
                    đãi mới nhất.</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white fs-5 me-2"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white fs-5 me-2"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white fs-5 me-2"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white fs-5"><i class="bi bi-youtube"></i></a>
                    </li>
                </ul>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Liên kết nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Trang chủ</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Sản phẩm</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Khuyến mãi</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Liên hệ</a></li>
                </ul>
            </div>

            <!-- Customer Service -->
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Hỗ trợ khách hàng</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Chính sách</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Hình thức hanh toán</a></li>
                    <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Hỗ trợ trực tuyến</a></li>
                </ul>
            </div>


            <!-- Newsletter -->
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Đăng ký nhận tin</h5>
                <p>Nhận các ưu đãi và tin tức mới nhất qua email.</p>
                <form class="d-flex">
                    <input type="email" class="form-control me-2 h-25 w-50" placeholder="Nhập email">
                    <button class="btn btn-primary" type="submit">Đăng ký</button>
                </form>
            </div>

        </div>

        <hr class="border-light">

        <!-- Copyright -->
        <div class="row">
            <div class="col text-center py-3">
                <small>&copy; 2025 ABC Company. All rights reserved.</small>
            </div>
        </div>
    </div>
</footer>