<header>
    <div>
        <div class="bg-black">
            <div class="container">
                <div class="flex-row d-flex justify-content-between p-3 align-items-center">
                    <div class="text-white fs-3"><i><b>ITA BOOKINGS</b></i></div>
                    <div class="flex-row gap-4 d-flex">
                        <span class="text-white pointer-hover hover-shadow">Đăng nhập</span>
                        <span class="text-white pointer-hover hover-shadow">Đăng ký</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row container align-items-center justify-content-between">
            <img style="width: 150px; height: 150px;" src="/images/logo.png" alt="ITABookings">
            <nav class="d-flex flex-row gap-5">
                <a class="text-decoration-none text-reset hover-underline" href="/html/">Trang chủ</a>
                <a class="text-decoration-none text-reset hover-underline" href="/css/">Địa điểm</a>
                <a class="text-decoration-none text-reset hover-underline" href="/js/">Ẩm thực</a>
                <a class="text-decoration-none text-reset hover-underline" href="/python/">Thuê xe</a>
                <a class="text-decoration-none text-reset hover-underline" href="/python/">Đặt tài xế</a>
                <a class="text-decoration-none text-reset hover-underline" href="/python/">Liên hệ</a>
                <a class="text-decoration-none text-reset hover-underline" href="/python/">Thông tin về chúng tôi</a>
            </nav>
        </div>
    </div>
</header>